{
    "env": {
        "test": {
            "plugins": [
                [
                    "@babel/plugin-proposal-decorators",
                    {
                      "legacy": true
                    }
                ],
                "@babel/plugin-proposal-class-properties",
                "transform-es2015-modules-commonjs"
            ],
            "presets": [
                "@babel/preset-typescript", 
                ["@babel/preset-env", { "targets": { "node": "current" } }]
            ]
        }
    }
}